CarZone/.env
CarZone/__pycache__/*
CarZone/static_src/*
pages/__pycache__/*
pages/migrations/*
pages/migrations/__pycache__/*
accounts/__pycache__/*
accounts/migrations/*
accounts/migrations/__pycache__/*
products/__pycache__/*
products/migrations/*
products/migrations/__pycache__/*
contacts/__pycache__/*
contacts/migrations/*
contacts/migrations/__pycache__/*
carzone-key.pem
db.sqlite3
black-logo-sq.png
choices_list_car_model.txt
Fields.txt
debug.log
aws ec2.cmd
