
{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Search Result {% endblock title %}

{% block content %}
<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form method="GET">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="brand">
                                    <option disabled="disabled" selected="selected">&nbsp;Brand</option>
                                    {% for brand in brand_search %}
                                        <option value="{{brand}}">&nbsp;{{brand}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="city">
                                    <option disabled="disabled" selected="selected">&nbsp;Location</option>
                                    {% for city in city_search %}
                                        <option value="{{city}}">&nbsp;{{city}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="min_year">
                                    <option disabled="disabled" selected="selected">&nbsp;From Year</option>
                                    {% for year in years %}
                                        <option value="{{year}}">&nbsp;{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end class="row" -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="body_style">
                                    <option disabled="disabled" selected="selected">&nbsp;Body Style</option>
                                    {% for body_style in body_style_search %}
                                        <option value="{{body_style}}">&nbsp;{{body_style}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="transmission">
                                    <option disabled="disabled" selected="selected">&nbsp;Transmission</option>
                                    {% for transmission in transmission_search %}
                                        <option value="{{transmission}}">&nbsp;{{transmission}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="max_year">
                                    <option disabled="disabled" selected="selected">&nbsp;To Year</option>
                                    {% for year in years %}
                                        <option value="{{year}}">&nbsp;{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div> <!-- end class="row" -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Cars</span></h1>
            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> {% endcomment %}
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-lg-4 col-md-6">
                    <div class="car-box">
                        <div class="car-thumbnail">
                            <a href="{% url 'product_details' product.id %}" class="car-img">
                                <div class="tag">For Sale</div>
                                <img class="d-block w-100" src="{{product.car_image.url}}" alt="car"
                                    style="min-height: 262px; max-height: 262px;">
                                <div class="facilities-list clearfix">
                                    <ul>
                                        <li>
                                            <span><i class="flaticon-way"></i></span>{{product.mileage | intcomma}} miles
                                        </li>
                                        <li>
                                            <span><i class="flaticon-calendar-1"></i></span>{{product.year}}
                                        </li>
                                        <li>
                                            <span><i
                                                    class="flaticon-manual-transmission"></i></span>{{product.transmission}}
                                        </li>
                                    </ul>
                                </div>
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{{product.car_image.url}}" class="overlap-btn">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{{product.car_image.url}}">
                                            </a>
                                            {% if product.car_img1 %}
                                                <a href="{{product.car_img1.url}}" class="hidden">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{product.car_img1.url}}">
                                                </a>
                                            {% endif %}
                                            {% if product.car_img2 %}
                                                <a href="{{product.car_img2.url}}" class="hidden">
                                                    <img class="hidden" src="{{product.car_img2.url}}">
                                                </a>
                                            {% endif %}
                                            {% if product.car_img3 %}
                                                <a href="{{product.car_img3.url}}" class="hidden">
                                                    <img class="hidden" src="{{product.car_img3.url}}">
                                                </a>
                                            {% endif %}
                                            {% if product.car_img4 %}
                                                <a href="{{product.car_img4.url}}" class="hidden">
                                                    <img class="hidden" src="{{product.car_img4.url}}">
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'product_details' product.id %}">{{product.title}}</a>
                            </h1>
                            <div class="location">
                                <a href="{% url 'product_details' product.id %}">
                                    <i class="flaticon-pin"></i>{{product.state}}, {{product.city}}
                                </a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="pull-left ratings days">
                                <p class="cartype">{{product.body_style}}</p>
                            </div>
                            <div class="pull-right">
                                <p class="price">${{product.price | intcomma}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Featured car end -->

{% endblock %}
